<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0s">

   
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Frehanza</title>

    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" />

    
</head>

<body>
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="{% url 'frehanza:home' %}"><img src="{% static 'favicon-32x32.png' %}" alt="F"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'frehanza:about' %}">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'frehanza:forms' %}">Scheduler</a></li>
                <li><a href="http://story1-frehanza.herokuapp.com/Story1.html">Blog</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>


     <!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->

<aside class="profile-card">
  
    <header>
      
      <!-- here’s the avatar -->
      <a href="{% url 'frehanza:home' %}">
        <img src="{% static 'reha.png' %}">
      </a>
  
      <!-- the username -->
      <h1>Fareeha Nisa Zayda Azeeza</h1>
      
      <!-- and role or location -->
      <h2>Student</h2>
      
    </header>
    
    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">
      
      <p>Interest: Food, Design, Art, Music, Dance & Travel</p>
      
    </div>
    
    <!-- some social links to show off -->
    <ul class="profile-social-links">
      
     <!-- linkedin profile-->
     <li>
        <a href="//id.linkedin.com/in/fareeha-nisa-zayda-azeeza-79b42411a">
          <img src="{% static 'LinkedIn.svg' %}">
        </a>
      </li>

      <!-- twitter - el clásico  -->
      <li>
        <a href="twitter.com/vaniloquenche">
          <img src="{% static 'Twitter.svg' %}">
        </a>
      </li>
      
      <!-- envato – use this one to link to your marketplace profile -->
      <li>
        <a href="www.instagram.com/frehanza/?hl=id">
          <img src="{% static 'Instagram.svg' %}">
        </a>
      </li>
      
      <!-- codepen - your codepen profile-->
      <li>
        <a href="open.spotify.com/user/frehanza?si=TaUaiipISP2XE8uofwWH-g">
          <img src="{% static 'spotify.svg' %}">
        </a>
      </li>
      
      <!-- add or remove social profiles as you see fit -->
      
    </ul>
    
  </aside>
  <!-- that’s all folks! -->
  

    <footer>
        <span class="logo">A unique<br>Copyright</span>
       <div class="box">
        <span class="box__copy">©</span>
         <div class="box__group">
           <p class="box__date">2020 Frehanza</p>
         <hr>
         <a class="box__link" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=frehanza@gmail.com">Contact Me</a>
         </div>
       </div> 
      </footer>


    <!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>

<script>
    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
});
</script>


</body>
</html>