{% extends 'base.html' %}
{% load static %}

{% block body %}


<section>
    
    {% if scheduler %}
    <div class="table-container">
        <h1>Detail {{ scheduler.course }}</h1>
    <table>
        <tr>
            <th id="title"><b>Course Name</b></th>
            <th id="title"><b>Lecturer</b></th>
            <th id="title"><b>Credits</b></th>
            <th id="title"><b>Term</b></th>
            <th id="title"><b>Description</b></th>
            <th id="title"><b>Room</b></th>
        </tr>
        <tr>
            <th>{{ scheduler.course }}</th>
            <th>{{ scheduler.lecturer }}</th>
            <th>{{ scheduler.credits }}</th>
            <th>{{ scheduler.term }}</th>
            <th>{{ scheduler.description }}</th>
            <th>{{ scheduler.room }}</th>
        </tr>
    </table>

    <a href="{% url 'frehanza:home' %}"><button class="button3" type="submit">Back</button></a>

    </div>

    

    {% endif %}
</section>

{% endblock %}
