<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block body %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'forms.css' %}">
</head>

<style>

    .page {
  
    display: flex;
    flex-direction: column;
    height: calc(100% - 210px);
    place-content: center;
    width: calc(100% - 40px);
    margin-bottom: 1000px;
    }

    @media (max-width: 767px) {
    .page {
      height: auto;
      padding-top: 50px;
      margin-bottom: 20px;
      padding-bottom: 20px;
      background-size: cover;
    }
  }
   
    .right {
    background: #141414;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    width: 750px;
    height: 700px;
  }

   @media (max-width: 767px) {
    .right {
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      max-height: 600px;
    }
  }

  .eula {
    font-family: 'Barlow Medium';
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
    margin-top: 10px;
  }
  
  /* Button */
  button {
    height: 40px;
    margin-left: -4px;
    margin-top: 20px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    border: 2px solid #141414;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button2 {
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    border: 2px solid #141414;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
</style> 
<body>


<section class="page">
  <div class="form-container">
    <div class="left">
      <div class="login"> Sche-<br>duler </div>
      <div class="eula">Add your schedule here</div>
    </div>
    <div class="right">
      <svg viewBox="0 0 320 300">
        <defs>
          <!-- <linearGradient
                          inkscape:collect="always"
                          id="linearGradient"
                          x1="13"
                          y1="193.49992"
                          x2="307"
                          y2="193.49992"
                          gradientUnits="userSpaceOnUse">
            <stop
                  style="stop-color:  rgba(115,198,240,1);"
                  offset="0"
                  id="stop876" />
            <stop
                  style="stop-color:rgba(172,131,235,1);"
                  offset="0"
                  id="stop876" />      
            <stop
                  style="stop-color:rgba(244,132,218,1);"
                  offset="0"
                  id="stop878" />
            <stop
                  style="stop-color:rgba(115,198,240,1);"
                  offset="2"
                  id="stop879" />
            <stop
                  style="stop-color:rgba(244,132,218,1);"
                  offset="3"
                  id="stop880" />
            <stop
                  style="stop-color:rgba(255,215,117,1);"
                  offset="4"
                  id="stop881" />
            <stop
                  style="stop-color:rgba(255,234,97,1);"
                  offset="5"
                  id="stop882" />
          </linearGradient> -->
        </defs>
        <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
      </svg>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        {{form}}

        <button class="button"></button>
        <a href="{% url 'frehanza:index' %}"><button class="button2">List </button></a>

      </div>
    </div>
  </div>
</section>

{% endblock %}

<script>
    $(function() {
  $( "#button" ).click(function() {
    $( "#button" ).addClass( "onclic", 250, validate);
  });

  function validate() {
    setTimeout(function() {
      $( "#button" ).removeClass( "onclic" );
      $( "#button" ).addClass( "validate", 450, callback );
    }, 2250 );
  }
    function callback() {
      setTimeout(function() {
        $( "#button" ).removeClass( "validate" );
      }, 1250 );
    }
  });
</script>



</body>


</html>