<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0s">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Frehanza</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="{% url 'frehanza:home' %}"><img src="{% static 'favicon-32x32.png' %}" alt="F"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{% url 'frehanza:about' %}">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="{% url 'frehanza:forms' %}">Scheduler</a></li>
                    <li><a href="http://story1-frehanza.herokuapp.com/Story1.html">Blog</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="landing">
        
        <div class="wrapper">
            <header>
               <div class="header-image">
                <h1>Hi, I'm Reha. <br>
                    I'm a <span class="animate"></span></h1>

                <a href="{% url 'frehanza:about' %}"><img src="{% static 'Learn More.svg' %}" alt="Learn More"></a>
                </div>

             
             
            </header>

            
        </div>
    </section>
   

    <section class="about">
        <div class="about-container">
            <div class="row">
                <div class="col-md-5">
 
                    <img src="{% static 'me.jpg' %}" alt="Reha" style="width: 309px; height: 317px; left: 100px; margin-top: 60px;">
                </div>
            </div>
            <br>
            <div class="col-md-7-about-right">

                <h1> About </h1>

                <p>
                    My name is Fareeha Nisa Zayda Azeeza, you can call me Reha. 
                    I am currently a sophomore majoring in Information System (Batch 2019) at University of Indonesia. 
                    <br>My hobbies are strolling through the city, doing a culinary journey, designing, dancing, and reading. 
                    My dream is to become someone who is success and beneficial to others.
                    <br>
                    <br>
                    I  (want) to be able to specialize in <span> Design (Product Design, Visual Design, Web Design, Branding), User Interface/User Experience (UI/UX) and Editing (Photos & Videos).</span>
                </p> 
                
                <div class="card">

                    <div class="slider">
                        <div class="item">
                            <div class="item-inner">
                                <img src="{% static '30+.svg' %}" alt="">
                                <h4> Total Works </h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="{% static '10+.svg' %}" alt="">
                                <h4> Experiences </h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="{% static '10+.svg' %}" alt="">
                                <h4> Works Featured </h4>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="{% static '10+.svg' %}" alt="">
                                <h4> Skills </h4>
                            </div>
                        </div>
                    </div>
                    
                </div>
          
                <a href="#"><img src="{% static 'download-resume.svg' %}" alt="Download Resume"></a>

            </div>
        </div>
    </section>

    <footer>
        <span class="logo">A unique<br>Copyright</span>
       <div class="box">
        <span class="box__copy">©</span>
         <div class="box__group">
           <p class="box__date">2020 Frehanza</p>
         <hr>
         <a class="box__link" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=frehanza@gmail.com">Contact Me</a>
         </div>
       </div> 
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="typed.js"></script>
    <script>
          var typed = new Typed(".animate", {
            strings: [
                "Student","Fighter","Dreamer"
            ],
            typeSpeed: 50,
            backSpeed: 50,
            loop: true
        });
    </script>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>

<script>
    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();
});
</script>


</body>
</html>