{% extends 'base.html' %}
{% load static %}


{% block body %}

<section>

    {% if course_list %}
    <div class="table-container">

    <h1 class="course">Course List</h1>

    <table>
        <tr>
            <th id="title"><b>Course Name</b></th>
            <th id="title"><b>Description</b></th>
            <th></th>
            <th>
        </tr>
        {% for courses in course_list %}
        <tr>
            <th>{{ courses.course }}</th>
            <th>{{ courses.description }}</th>
            <th><a href="{% url 'frehanza:detail' my_id=courses.id %}"><button class="button3" type="submit">Detail</button></a></th>
            <th><a href="{% url 'frehanza:delete' my_id=courses.id %}"><button class="button3" type="submit">Delete</button></a></th>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
        
</section>


{% endblock %}
