@font-face {
    font-family: 'Monument Extended Ultrabold';
        src: url('../fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
             url('../fonts/monumentextended-ultrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
  }
  
  @font-face {
    font-family: 'Barlow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Regular'), url('../fonts/Barlow-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Medium'), url('../fonts/Barlow-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow SemiBold'), url('../fonts/Barlow-SemiBold.woff') format('woff');    
  }
  
  @font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Bold'), url('../fonts/Barlow-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Barlow Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Black'), url('../fonts/Barlow-Black.woff') format('woff');
  }
    
  
  * {
    box-sizing: border-box;
    padding: 0px;
  margin: 0px;
  } 
  
  html, body {
  
    width: 100%;
    height: 100%;
    font-family: "Barlow Medium";
    font-size: 62.5%;
    background: #000;
  
  }
  
  
  * {
    box-sizing: border-box;
    padding: 0px;
  margin: 0px;
  } 
  
  html, body {
  
    width: 100%;
    height: 100%;
    font-family: "Barlow Medium";
    font-size: 62.5%;
  
  
  }
  
  /* Navbar section */
  
  .nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
  
    font-family: Heebo;
  
  }
  
  .nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    padding-top: 1rem;
    
  }
  
  .nav div.main_list {
    height: 65px;
    float: right;
  }
  
  .nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
    font-family: Heebo;
    
  }
  
  .nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 2rem;
  
    list-style: none;
    margin-right: 20px ;
  }
  
  .nav div.main_list ul li a {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .nav div.main_list ul li a:hover {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .navTrigger {
    display: none;
  }
  
  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  
  /* Media qurey section */
  
  @media screen and (min-width: 601px) {
    h1 {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
  
    h1 {
        font-size: 48px;
    }
  
    h1 {
        font-size: 5.9vw;
    }
    
    h2 {
        font-size: 3.0vh;
     }
    
     p {
        font-size: 2vmin;
      }
  }
  
  
  @media only screen and (max-width: 320px) {
  
    body { 
       font-size: 2em; 
    }
  
  }
  
  @media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
  }
  
  
  /* Animation */
  /* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
  
  .navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
  }
  
  .navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }
  
  .navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  .navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  .navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  .navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }
  
  @-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
  }
  
  @keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
  }
  
  @keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
  }
  
  .affix {
    padding: 0;
    background-color: #000000;
  }
  
  /* Footer */
  p {
    margin: 0;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    font-family: "Montserrat";
  }
  
  footer .logo {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  
  .box {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    border-radius: 8vmin;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }
  .box:hover {
    position: relative;
    width: calc(300px + 50px);
    background-color: white;
    cursor: default;
  }
  .box:hover .box__group {
    position: relative;
    transform: translateX(0);
    opacity: 1;
  }
  .box:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 110%;
    width: 101%;
    box-sizing: border-box;
    right: 350px;
    z-index: -1;
  }
  .box__copy {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 4rem;
    margin-left: 2px;
  }
  .box__group {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.4s ease-in-out;
    transition-delay: 0.2s;
    transform: translateX(290px);
  }
  .box__group hr {
    width: 3px;
    height: 30px;
    background-color: #000;
    border: none;
    margin: 0 15px;
  }
  .box__date {
    font-size: 1.5rem;
    margin-left: 15px;
    color: #000;
  }
  .box__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #F1609D;
    letter-spacing: 1px;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Khula:300,600,400);
  html,
  body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: "Barlow Medium";
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    color: #222;
    background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;
    background-size: cover;
  }
  
  h1 {
    font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 4.5% 0 0 4.5%;
  }
  
  h2 {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 4% 4.5%;
    color: #F1609D;
  }
  
  .profile-card {
    position: absolute;
    z-index: 100;
    top: 52%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 290px;
    max-width: 450px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: bouncein 1s;
    animation: bouncein 1s;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .profile-card > header {
    display: block;
    line-height: 0;
    width: 88%;
    max-width: 88%;
    background: #fff;
  }
  
  .profile-card > header > h1 {
    font-family: 'Barlow SemiBold';
    font-weight: 1000px;
  }
  
  .profile-card > header > a {
    line-height: 0;
    display: block;
    background-image: url('../static/reha-bw.jpg');
    background-size: 100% 100%;
  }
  
  .profile-card > header a > img {
    width: 100%;
  }
  
  .profile-card:hover > header a > img {
    opacity: 0;
  }
  
  .profile-card:hover > header + .profile-bio {
    max-height: 200px;
    -webkit-transition: max-height .5s ease-in;
    transition: max-height .5s ease-in;
  }
  
  .profile-card:hover > header + .profile-bio p {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
  }
  
  .profile-bio {
    font-family: 'Barlow SemiBold';
    font-weight: 800;
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 88%;
    width: 88%;
    max-height: 0;
    -webkit-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
    color: #000;
    background: #BE9DDF;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  
  .profile-bio p {
    margin: 4.5%;
    -webkit-animation: fadeout 2s;
    animation: fadeout 2s;
  }
  
  .profile-social-links {
    line-height: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    max-width: 12%;
    width: 12%;
    margin: 0;
    padding: 3.5%;
    list-style-type: none;
    text-align: center;
    background: url('https://raziraz.github.io/codepen/envato_contest/razi-logo.png') ;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    background-size: 100% auto;
    flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -webkit-flex-pack: end;
    -ms-flex-pack: end;
  }
  
  .profile-social-links img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    -webkit-filter: saturate(0) brightness(0) invert(1);
    filter: saturate(0) brightness(0) invert(1);
  
  
  }
  
  .profile-social-links li:first-child {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .profile-social-links li:first-child:hover {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  
  .profile-social-links li:nth-child(2):hover {
    -webkit-animation: pulse .4s ease-in-out;
    animation: pulse .4s ease-in-out;
  }
  
  .profile-social-links li:last-child:hover {
    -webkit-animation: shake .7s ease-in-out;
    animation: shake .7s ease-in-out;
  }
  
  .profile-social-links li:last-child {
    -webkit-order: -1;  
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  
  .profile-social-links li:last-child img {
    width: 90%;
    -webkit-filter: saturate(0) brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  
  @media (max-width: 480px) {
    .profile-card {
      flex-direction: column;
      -webkit-flerowx-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
    }
    .profile-card > header,
    .profile-bio {
      max-width: 100%;
      width: 100%;
    }
    .profile-bio {
      max-height: 100%;
    }
    .profile-card:hover > header + .profile-bio p,
    .profile-bio p {
      -webkit-animation: none;
      animation: none;
    }
    h1 {
      font-size: 16px;
    }
    h2 {
      line-height: 1.2;
      margin-top: 0.5%;
    }
    .profile-social-links {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      max-width: 100%;
      width: 100%;
      max-height: 70px;
      background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
      background-size: 100% auto;
      -webkit-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-order: -1;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .profile-social-links img {
      width: auto;
      height: 18px;
      margin-top: 0;
      margin-left: 8px;
      -webkit-filter: saturate(0) brightness(100);
      filter: saturate(0) brightness(100);
    }
    .profile-social-links li:last-child img {
      width: auto;
    }
  }
  
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px);
    }
    40% {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    60% {
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px);
    }
  }
  
  @keyframes shake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px);
    }
    40% {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    60% {
      -webkit-transform: translateX(-1px);
      transform: translateX(-1px);
    }
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes bouncein {
    0% {
      -webkit-transform: translate(-50%, -200%);
      transform: translate(-50%, -200%);
      opacity: 0;
    }
    50% {
      -webkit-transform: translate(-50%, -30%);
      transform: translate(-50%, -30%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50%, -50%);
      transform: translateY(-50%, -50%);
    }
  }
  
  @keyframes bouncein {
    0% {
      -webkit-transform: translate(-50%, -200%);
      transform: translate(-50%, -200%);
      opacity: 0;
    }
    50% {
      -webkit-transform: translate(-50%, -30%);
      transform: translate(-50%, -30%);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50%, -50%);
      transform: translateY(-50%, -50%);
    }
  }
  
  
  
  