@font-face {
    font-family: 'Monument Extended Ultrabold';
        src: url('../static/fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
             url('../static/fonts/monumentextended-ultrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Barlow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Regular'), url('../static/fonts/Barlow-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Medium'), url('../static/fonts/Barlow-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow SemiBold'), url('../static/fonts/Barlow-SemiBold.woff') format('woff');    
}

@font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Bold'), url('../static/fonts/Barlow-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Black'), url('../static/fonts/Barlow-Black.woff') format('woff');
}
    

* {
    box-sizing: border-box;
    padding: 0px;
	margin: 0px;
} 

html, body {

    width: 100%;
    height: 100%;
    font-family: "Barlow Medium";
    font-size: 62.5%;
    background: #000;

}

.about-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .about-container {
        max-width: 540px; }}
    @media (min-width: 768px) {
      .about-container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .about-container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .about-container {
        max-width: 1140px; } } */


/* Header */

.wrapper {
    margin:0px;
    min-height:100vh;
    max-height:100%;
    width:100vw;
    background-color: black;
}


.header-container {
    margin:0px;
    min-height:100vh;
    max-height:100%;
    width:100vw;
    background-color: black;
} 

header {
    justify-content:center;
    width:100vw;
    height:100vh;   
    margin-top: 0;
}

.header-image {
    background-image: url(../static/banner2-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 100vw;
    margin-top: 0;
    justify-content:center;
  
}

header h1 {
    width: 1000px;
    height: 224px;
    padding-top: 280px;
    margin-left: 136px; 

    font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    
    color: #FFFFFF;
}

header h1 span {
    font-size: 72px;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 238px;
    height: 58px;
    margin-left: 136px;
    margin-top: 220px;
}

header a:hover {
    transform: translateY(-8px);
}


/* Social Icons */

.social-icons {

    display: flex;
    margin-left: 136px;
    margin-top: -500px;

    height: 30.49px;
    width: 50px;
}

.social-icons a {
    margin-top: -160px;
}

.social-icons a:nth-of-type(1) {
    margin-left: 1rem;
}

.social-icons a:hover {
    transform: translateY(-8px);
}

/* About */


.about {
    align-items: center;
    background-color: #000;
    /* background-image: url(../images/about\ black.png); */
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: -1;

    margin:0px;
    min-height:100vh;
    max-height:100%;
    width:100vw;
    
}

.about h1 {

   
    width: 414px;
    height: 134px;
    margin-left: 180px;
    margin-top: 10px;
    

    font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;


    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about .col-md-5 .my-pic {

    width:309px;
    height:317px;
    padding-top: 240px;
    margin-right: 12px;

    /* padding-top: 1000px;
    padding-right: 822px;
    padding-bottom: 228px; */
}

.about p {

    width: 691px;
    height: 145px;
    left: 620px;
    top: 1220px;

    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 28px */

    color: #FFFFFF;
}

.about p span {

    /* width: 691px;
    height: 200px;
    left: 619px;
    top: 1240px; */

    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .emphasizer {

    margin-left: 400px;
    margin-top: 140px;

    width: fit-content;
    height: 144px;
    left: 641px;
    top: 1496px;

}

.about a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 0px 28px;

    margin-left: 400px;
    margin-top: 20px;

    width: 236px;
    height: 49px;
    left: 1045px;
    top: 1680px;
}

.about a:hover {
    transform: translateY(-8px);
}

.col-md-5 {
    margin-left: 10px;
    padding-top: 80px;
}

.col-md-7-about-right {
    width: fit-content;
    margin-left: 420px;
    margin-top: -400px;
}

/* Card */

.card {
    margin-top: 50px;
    justify-content: center;
}

.slider {
display: flex;
}

.slider img {
    padding-left: 0.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
}


.slider .item {
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.slider .item-inner {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 150px;
    height: 140px;
    padding: 8px;
    align-items: center;
}

.slider .item-inner h4 {
    
font-family: 'Barlow Medium';
font-style: normal;
font-weight: bold;
text-align: center;
font-size: 16px;
padding-bottom: 8px;
padding-top: 1rem;

letter-spacing: 0.02em;

color: #F1609D;
}

@media only screen and (min-width: 500px){
    body {
        width:420px;
    }
}

@media screen and (min-width: 800px) {
    body {
        width:720px;
    }
}


* {
    box-sizing: border-box;
    padding: 0px;
	margin: 0px;
} 

html, body {

    width: 100%;
    height: 100%;
    font-family: "Barlow Medium";
    font-size: 62.5%;


}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;

    font-family: Heebo;

}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    padding-top: 1rem;
    
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
    font-family: Heebo;
    
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 2rem;

    list-style: none;
    margin-right: 20px ;
}

.nav div.main_list ul li a {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav div.main_list ul li a:hover {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 601px) {
    h1 {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }

    h1 {
        font-size: 48px;
    }

    h1 {
        font-size: 5.9vw;
    }
    
    h2 {
        font-size: 3.0vh;
     }
    
     p {
        font-size: 2vmin;
      }
}


@media only screen and (max-width: 320px) {

    body { 
       font-size: 2em; 
    }
 
 }

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
        z-index: 100;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
        z-index: 99;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
        z-index: -99;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #000000;
}

/* Footer */
p {
    margin: 0;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    font-family: "Montserrat";
  }

  footer .logo {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  
  .box {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    border-radius: 8vmin;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }
  .box:hover {
    position: relative;
    width: calc(300px + 50px);
    background-color: white;
    cursor: default;
  }
  .box:hover .box__group {
    position: relative;
    transform: translateX(0);
    opacity: 1;
  }
  .box:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 110%;
    width: 101%;
    box-sizing: border-box;
    right: 350px;
    z-index: -1;
  }
  .box__copy {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 4rem;
    margin-left: 2px;
  }
  .box__group {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.4s ease-in-out;
    transition-delay: 0.2s;
    transform: translateX(290px);
  }
  .box__group hr {
    width: 3px;
    height: 30px;
    background-color: #000;
    border: none;
    margin: 0 15px;
  }
  .box__date {
    font-size: 1.5rem;
    margin-left: 15px;
    color: #000;
  }
  .box__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #F1609D;
    letter-spacing: 1px;
  }