@font-face {
    font-family: 'Monument Extended Ultrabold';
        src: url('../static/fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
             url('../static/fonts/monumentextended-ultrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Barlow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Regular'), url('../static/fonts/Barlow-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Medium'), url('../static/fonts/Barlow-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow SemiBold'), url('../static/fonts/Barlow-SemiBold.woff') format('woff');    
}

@font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Bold'), url('../static/fonts/Barlow-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Black'), url('../static/fonts/Barlow-Black.woff') format('woff');
}
    

* {
    box-sizing: border-box;
    padding: 0px;
	margin: 0px;
} 

html, body {

    width: 100%;
    height: 100%;
    font-family: "Barlow Medium";
    font-size: 62.5%;
}

body {
    font-family: "Barlow Medium";
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;
    background-size: cover;
  }

h1 {
    width: fit-content;
    height: 134px;
    margin-left: 130px;
    margin-top: 10px;
    

    font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;


    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Table */
.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    align-items: center;
    text-align: center;
}
th {
    text-align: center;
}

#title {
    text-align: center;
    color: rgba(233,169,227,1);
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

button {
    height: 40px;
    margin-left: -4px;
    margin-top: 20px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    border: 2px solid #141414;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button2 {
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    border: 2px solid #141414;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button3 {
    text-align: center;
    margin-top: 30px;
    width: 72px;
    height: 30px;
    border-radius: 20px;
    border: transparent;
    background: linear-gradient(149deg, rgba(166,224,236,1) 9%, rgba(210,187,229,1) 31%, rgba(233,169,227,1) 52%, rgba(255,165,205,1) 77%, rgba(252,185,215,1) 94%);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #fff;
    transition: all 0.25s ease;
}

